body { background-color: #171717; }

div {
    margin: 0px;
    padding: 0px;
}

.container, #word span {
    color: white;
    font-family:'Inter', Courier, monospace;
}

.container {
    margin: 8px;
    padding: 15px;
    border: 1px solid #9b59b6;
    border-radius: 6px;
    background-color: black;

    
}

.main {
    display: flex;
    height: 45vh;
}

.main div   { flex: 1; }
#settings   { flex: 3; display:flex; }
#wordContainer       { flex: 2; min-width: 0; position: relative; }
#wordsContainer      { flex: 1; }

.sylabblesContainer {
    height: 55vh;
}

.sylabbles {
    columns: 7;
    column-gap: 10px;
    column-fill: auto;
    margin: 0;
    padding:0;
    height: 50%;

}

li {
    list-style: none;
    user-select: none;
}
#settings div {margin: 2px; width: auto; height: auto;}
#settings .phonotactics { flex: 1;}
#settings .options {flex: 3;}

.sylabbles li {
    padding: 4px 8px;
    color: #9b59b6;
    transition: all .2s ease;
}

.sylabbles li:hover {
    cursor: grab;
    transform: translateX(3px);
}

.sylabbles li:active {
    color: white;
    cursor: grabbing;
}

.sylPart {
    margin-top: 7px;
} 

.sylPart input {
    width: 100%;
    color: white;
    background-color: black;
    border: none;
    border-bottom: 2px solid darkorchid;
    outline: none;
}

.sylPart input:focus {
}

.sylPart p, .sylStruct p {
    font-size: 0.85em;
    color: #9b59b6; /* Purple accent */
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.sylStruct {
    display: flex;
    flex-direction: column;

    justify-content: center;
}

.sylStruct input {
    outline: none;

    border: none;
    border: 2px solid darkorchid;
    border-radius: 3px;

    padding-bottom: 30px;

    color:white;
    background-color: black;

    font-size: 1.2em;
    text-align: center;

}

.sylStruct p {
    text-align: center;
}

#word {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);


    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
}

#word span {
    padding: 0;
    margin-right: 5px;

    color: #9b59b6;
    text-align: center;

    font-size: 60px;
    font-family: 'Times New Roman';
}



#word span:hover {
    user-select: none;
    cursor: pointer;
    
    text-decoration: underline;
}

#word span:hover.selected-sylabble { text-decoration: none; }

.selected-sylabble {
    background-color: rgba(197, 25, 231, 0.3) !important;
}

#wordsContainer {
    position: relative;
    overflow: auto;
}

#wordContainer {
    position:relative;
}

#wordsContainer ul {
    color: #9b59b6;

    padding: 0px;
    margin: 0;
}

#wordsContainer ul li {
    color: #9b59b6;
    padding-bottom: 6px;
}

.button {
    position: absolute;
    
    background-color: #9b59b6;

    outline: none;
    border: none;
    border: 1px solid #9b59b6;
    border-radius: 6px;

    padding: 10px;

    transition: background-color .01s ease;

    width: 45px;
    height: 45px;
}

#copyButton {
    right: 10px;
    bottom: 10px;
}

#clearButtonWord {
    right: 60px;
    bottom: 10px;
}

#clearButtonWords {
    right: 60px;
    bottom: 10px;
}

#storeButton {
    right: 10px;
    bottom: 10px;
}

#removeButton {
    left: 10px;
    bottom: 10px;
}

#removeButton.noshow {
    display: none;
}

.icon {
    stroke: #9b59b6;

    width: 20px;
    height: 20px;
}

.button:active {
    background-color: darkorchid;
}

.button:hover {
    cursor: pointer;
}