:root {
    --dark-bg: hsl(0, 0%, 5%);
    --bg: hsl(0, 0%, 10%);
    --light-bg: hsl(0, 0%, 15%);

}


body {
    width: 100vw;
    height: 100vh;
    
    margin: 0;
    padding: 0;

    background-color: var(--dark-bg);
}

#grid-container {
    display: grid;
    grid-template-columns: 3fr 2fr 1fr;
    grid-template-rows: 2fr 3fr;
    grid-template-areas: 
    "config word list"
    "syl    syl  syl";

    width: 100%;
    height: 100%;

    gap: 12px;
    padding: 2em;

    box-sizing: border-box;
    

}

section {
    background-color: var(--bg);
}